@model PBL3Hos.Models.DbModel.AppointmentDB
@{
    ViewData["Title"] = "ListAppointment";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h1>ListAppointment</h1>
@if(@Model==null){
    <a>Chưa có lịch hẹn nào</a>
}
else{
<table class="table">
    <tr>

        <th>Doctor UserName</th>
        <th>
           Date
        </th>

    </tr>
    
        <tr>
            <td>@Html.DisplayFor(row => row.Doctor.AppUser.UserName)</td>
            <td>@Model.Date.ToString()</td>
        <td>
            <a  href="/account/cancel/@Model.PatientId">Cancel Appointment</a>
                <a href="/account/editappointment/@Model.PatientId">Edit Appointment</a>

        </td>

        </tr>
        </table>
}

    


